.div1-pro{
    width: 100%;
    /*background-color: rgba(85, 53, 85, 0.85);*/
    /*background-color:  rgba(70, 83, 98, 0.75);*/
    background-color: rgba(222, 224, 208, 1); 
}

.innerDivProjects{
    width: 85%;
    margin: auto;
}

.div2-pro{
    padding-bottom: 2.5%; 
}

.div-title-pro{
    align-content: center;
}

.title-pro{
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
    /*color: rgba(222, 224, 208, 1);*/
    color: rgba(1, 25, 54, 1);
    /*border-bottom: 1px solid rgba(56, 35, 56,0.85); */
    /*border-bottom: 1px solid rgba(152, 179, 178, 1);*/
    border-bottom: 1px solid rgb(180, 182, 168); 
}

.card-title{
    font-size: 1.5em;
    font-weight: bold;
}

.card-subtitle{
    font-size: 1.1em;
    font-style: italic;
}
.card-text{
    font-size: 0.9em;
    text-align: justify;
    
}

.card{
    transition-duration: 0.4s;
}

.card:hover{
    transform: translateY(-5px);
    transition-duration: 0.4s;
    background-color: rgba(233, 233, 233, 0.829);
}