.Projects{
    width: 100%;
    background-color: rgba(222, 224, 208, 1); 
    font-family: 'Krub', sans-serif;
}

.innerDivProjects{
    width: 75%;
    margin: auto;
    padding-bottom: 1.5em;
}

.div-title-pro{
    align-content: center;
}

.title-pro{
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
    color: rgba(1, 25, 54, 1);
    border-bottom: 1px solid rgb(180, 182, 168); 
}

.Card-container{
    margin: 1.25em;
}

.card-title{
    font-weight: bold;
}

.card-subtitle{
    font-style: italic;
}
.card-text{
    text-align: left;
}

.card{
    transition-duration: 0.4s;
}

.card:hover{
    transform: translateY(-5px);
    transition-duration: 0.4s;
    background-color: rgba(233, 233, 233, 0.829);
}

.row-margin{
    margin: 0;
}
/*-------------------------------------------------------------*/
@media (min-width: 149px){
    .title-pro{
        font-size: 2em;
    }
    .div2-pro{
        width: 100%;
        margin: auto;
    }
    .Card-container{
        margin-top: 1em;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1em;
    }
    
    .card-title{
        font-size: 1.25em;
    }
    
    .card-subtitle{
        font-size: 1em;
    }
    .card-text{
        font-size: 0.8em;
    }
}

@media (min-width: 500px){
    .title-pro{
        font-size: 2.6em;
    }
    .div2-pro{
        width: 85%;
        margin: auto;
    }
    .Card-container{
        margin: 1.25em;
    }
    
    .card-title{
        font-size: 1.5em;
    }
    
    .card-subtitle{
        font-size: 1.1em;
    }
    .card-text{
        font-size: 0.9em;
    }
}

@media (min-width: 850px){
    .title-pro{
        font-size: 3em;
    }
    .div2-pro{
        width: 100%;
        margin-left: 4%;
    }
    .Card-container{
        margin: 1.25em;
    }
    
    .card-title{
        font-size: 1.5em;
    }
    
    .card-subtitle{
        font-size: 1.1em;
    }
    .card-text{
        font-size: 0.9em;
    }
}