
.p-skill{
    text-align: left;
    width: 100%;
    margin:0;
    padding:0;
    color: white;
}

.span-inline{
    display: inline-block;
    width: 50%;
}


.span-float{
   float: right;
   /*transition-duration: 1s;*/
}

.li-padd{
    padding: 1%;
    /*transition-duration: 0.5s;*/
    /*background-color: rgba(147, 183, 190, 1);*/
    transition-duration: 0.3s;
}

.li-padd:hover{
    background-color: rgba(133, 163, 170, 0.89);
    transition-duration: 0.3s;
    transform: translateY(-3px);
}

/*------------------*/

@media (min-width: 149px){
    .p-skill{
        font-size: 0.75em;
    }
    .iconSize{
        font-size: 16px;
    }
}

@media (min-width: 500px){
    .p-skill{
        font-size: 1em;
    }
    .iconSize{
        font-size: 24px;
    }
}

@media (min-width: 800px){
    .p-skill{
        font-size: 1em;
    }
    
    .iconSize{
        font-size: 24px;
    }

}