.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed; /*stay allways at the top, even if we scroll*/
    top: 0;
    left: 0;
    display: flex; /*make all components inside toolbar to aline next to each other*/
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.hide{
    display: none;
}

.Toolbar nav{
    height: 100%;
}

.Toolbar_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /*to aline all the items next to each other*/
    align-items: center;
    height: 100%;
    flex-flow: column;
    
}

.Toolbar_ul li{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 6px 0px 0px 0px;
    font-size: 1.5em;
    color: whitesmoke;
}


.Logo{
    height: 80%;
}


@media (max-width: 800px) {
    .Toolbar{ 
        background-color: whitesmoke;
    }

    .DesktopOnly{
        display: none;
    }
}