.Abilities{
    width: 100%;
    background-color: rgba(147, 183, 190, 1);
    font-family: 'Krub', sans-serif;
}

.innerDivAbilities{
    width: 75%;
    margin: auto;
}


.div-title-ab{
    align-content: center;
}

.title-ab{
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
    color: whitesmoke;
    border-bottom: 1px solid rgb(119, 152, 158);
}

.div2-ab{
    padding-bottom: 5%; 
}

.ul-ab{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.subtitle-ab{
    width: 100%;
    font-weight: bold;
    text-align: left;
    padding: 1em;
    padding-bottom: 0.4em;
    color: white;
}

.div-line-ab{
    height: 2em;
    margin: 1em;
    border-bottom: 1px solid rgb(119, 152, 158);
}
/*abilities module--------------------------------------------------------

// ------------------------------------------------------------------------*/
@media (min-width: 149px){
    .title-ab{
        font-size: 2em;
    }
    .subtitle-ab{
        font-size: 1.6em;
    }
    .col-ab{
        /*padding-right: 10%;*/
        padding: 0;
    }
    .row-ab{
        padding: 0;
    }
    
}

@media (min-width: 500px){
    .title-ab{
        font-size: 2.6em;
    }
    .subtitle-ab{
        font-size: 1.7em;
    }
    .row-ab{
        padding-left: 10%;
    }
    
}

@media (min-width: 800px){
    .title-ab{
        font-size: 3em;
    }
    .subtitle-ab{
        font-size: 2em;
    }
    .row-ab{
        padding-left: 10%;
    }
    
}