.Abilities{
    width: 100%;
    background-color: rgba(147, 183, 190, 1);
}

.innerDivAbilities{
    width: 85%;
    margin: auto;
}


.div-title-ab{
    align-content: center;
}

.title-ab{
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
    color: whitesmoke;
    border-bottom: 1px solid rgb(119, 152, 158);
}

.div2-ab{
    padding-bottom: 5%; 
}

.ul-ab{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.row-ab{
    padding-left: 10%;
}

.subtitle-ab{
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding: 1em;
    padding-bottom: 0.4em;
    color: white;
}

.col-ab{
    /*padding-right: 10%;*/
}

.div-line-ab{
    height: 2em;
    margin: 1em;
    border-bottom: 1px solid rgb(119, 152, 158);
}
/*abilities module--------------------------------------------------------

// ------------------------------------------------------------------------*/