.header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}

.Hide{
    top:-100px;
}

.bgColor{
    /*background-color: rgba(245, 245, 245, 0.85);*/
    /*top:-100px;
    transition-duration: 0.5s;*/
    display: none;
    transition-duration: 1s;
}

.is-not-active {
    /*display: block;*/
    display: none
}

.is-active {
    /*display: block;*/
    display: inherit;
}


.header-content {
    position:relative;
    width:100%;
    height:80px;
    /*border-bottom:1px solid #777a7b;
    //background-color:rgba(255, 255, 255, 0.5);*/
    color:#fff;
    z-index:999;
    transition-duration:.4s;
}

.idx .header-content {
    background-color:transparent
}
.idx .header-content.bgColor {
    background-color:rgba(0,0,0,.8)
}

/*CONTENT LEFT-------------------------------------------------------*/
.header-content-left {
    display:table;
    padding-top:30px
}
.header-content-left-in {
    display:table-cell;
    padding-left:40px;
    vertical-align:middle
}

/*---------------------------------------------------------------*/

/*CONTENT RIGHT--------------------------------------------------------*/
.header-content-right {
    position:absolute;
    top:-20px;
    right:25px
}
.DS-div{
    position: relative;
    border-radius: 100%;
    background-color: rgba(1, 25, 54, 0.75);
    width: 56px;
    height: 56px;
    top: -18px;
    transition-duration: 0.5s;
}

.DS-div:hover{
    opacity: .75;
    transition-duration: 0.5s;
    cursor: pointer;
}

.DS-div p{
    position: absolute;
    width:100%;
    font-size: 25px;
    text-align: center;
    top:10px;
    font-weight: 600
}

.DS-div a{
    text-decoration: none;
    color:#fff;
    transition-duration: 0.4s;
}

.DS-div a:hover{
    text-decoration: none;
    color:rgb(231, 231, 231);
    transition-duration: 0.4s;
}

/* ---------------------------------------
//----------------------------------------------------------*/

@media (max-width: 850px) {
    .DS-div {
        display: none;
    }
}