.FloatingToolbar{
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 10px;
    background: whitesmoke;
    overflow-x: hidden;
    padding: 8px 0;
    transition: transform 0.3s ease-out;
}

.FloatingToolbar-hide{
    display: none;
    top: 20px;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}


