
/*Hobbies ----------------------------------------------------------*/
.Hobbies{
    font-family: 'Krub', sans-serif;
}
.divv2-center-hobbies{
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: 25%;
    width: 20%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 75%;
    transition-duration: 0.5s;
}

.p-hobbies{
    color: whitesmoke;
    font-weight: bold;
    margin: 5%;
    margin-top: 0;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

/*//---------------------------------------------------------------*/
@media (min-width: 149px){
    .p-hobbies{
        font-size: 2em;;
    }
    .div1-hobbies{
        height: 23em;
    }
    .crowdHobbies{
        height: 10em;
    }
}

@media (min-width: 500px){
    .p-hobbies{
        font-size: 3em;;
    }
    .div1-hobbies{
        height: 27em;
    }
    .crowdHobbies{
        height: 13em;
    }
}

@media (min-width: 800px){
    .p-hobbies{
        font-size: 3.5em;;
    }
    .div1-hobbies{
        height: 35em;
    }
    .crowdHobbies{
        height: 20em;
    }
}