.footer {
    height: 100vh;
    position:relative;
    background-image: url(/src/images/VolcanosFooter2.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:cover;
    background-color: rgba(47, 45, 48, 1);
}

.innerDivFooter{
    width: 75%;
    margin: auto;
}

.div1-footer{
    padding: 80px 0 80px;
    z-index:2;
}

.footer-content {
    /*position:relative;*/
    z-index:1;
    text-align:center
}

.footer-content a {
    font-size:12px;
    font-size:1.2rem;
    color:#888;
    text-decoration:underline
}
.footer-links {
    display:block;
    margin-top:60px;
    padding: 0
}
.footer-links-in {
    display:inline-block;
    border-left:1px solid #888;
    padding:0 10px
}
.footer-links-in:first-child {
    border:none
}
.footer-copy {
    margin-top:60px;
    font-size:10px;
    font-size:1rem;
    font-family:Open Sans,sans-serif;
    color:#888
}

.get-in-touch{
    text-decoration: none;
    font-size: 1.5em;
    color: whitesmoke;
    font-weight: bold;
}

.contact-title{
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
    color: rgba(245, 245, 245, 0.849);
    border-bottom: 1px solid rgba(47, 45, 48, 1);
}

.div-line-footer{
    height: 2em;
    border-bottom: 1px solid rgba(47, 45, 48, 1);
    width: 100%;
}

.inline-span{
    display: inline-block;;
}

.email{
    text-decoration: none;
    color: whitesmoke;
    transition-duration: 0.3s;
}

.email:hover{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.685);
    transition-duration: 0.3s;
    cursor: pointer;
}

/*---------------------------------------------------*/
.div-quote-ft{
    width: 100%;
}

.div-quote-in-ft{
    padding: 2%;
}

.p-quote-ft{
    font-size: 2em;
    color: rgba(222, 224, 208, 1);
    font-style: italic;
    text-align: center;
    transition-duration: 0.5s;
}
.p-quote-ft:hover{
    font-size: 2.1em;
    transition-duration: 0.5s;
    cursor: pointer;
}

.p-quote-ref-ft{
    font-size: 1.5em;
    color: rgba(222, 224, 208, 1);
    text-align: center;
}