/* Coolors Exported Palette - coolors.co/011936-465362-98b3b2-2f2d30-dee0d0 */

/* HSL */
$color1: hsla(213%, 96%, 11%, 1);
$color2: hsla(212%, 17%, 33%, 1);
$color3: hsla(178%, 15%, 65%, 1);
$color4: hsla(280%, 3%, 18%, 1);
$color5: hsla(68%, 21%, 85%, 1);

/* RGB */
$color1: rgba(1, 25, 54, 1);
$color2: rgba(70, 83, 98, 1);
$color3: rgba(152, 179, 178, 1);
$color4: rgba(47, 45, 48, 1);
$color5: rgba(222, 224, 208, 1);