/* Coolors Exported Palette - coolors.co/cacaaa-553555-eec584-c8ab83-dee0d0 */

/* HSL */
$color1: hsla(60%, 23%, 73%, 1);
$color2: hsla(300%, 23%, 27%, 1);
$color3: hsla(37%, 76%, 73%, 1);
$color4: hsla(35%, 39%, 65%, 1);
$color5: hsla(68%, 21%, 85%, 1);

/* RGB */
$color1: rgba(202, 202, 170, 1);
$color2: rgba(85, 53, 85, 1);
$color3: rgba(238, 197, 132, 1);
$color4: rgba(200, 171, 131, 1);
$color5: rgba(222, 224, 208, 1);